.container {
    padding: 20px 50px;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.content {

}

.header {
    display: flex;
    justify-content: space-between;
}

.table {
    background-color: #efedd5;
    width: 35vw;
    padding: 10px;
}

.headerTable {
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #FFA500;

}

.headerTableItem {
    font-size: 16px;
    font-weight: 600;
}

.currencyItem {
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
}

.item {
    text-align: left;
    /*color: #0e1829;*/
}

.currency {
    color: #14509c;
    font-weight: bold;
}

.currencyScale {
    font-size: 12px;
    margin-left: 3px;
}
