.converter {
    display: flex;
    max-width: 80vw;
    padding: 20px 50px;
    justify-content: center;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    background-color: #FAFAFA;
    height: 70vh;
}

.title {
    margin-bottom: 10px;
}

.inputContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.select {
    margin-top: 10px;
    width: 100px;
}
